<div class="container mt - 5">
    <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row mt-5 text-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/teams/0001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">นาย โชติวัฒน์ ยศไธสง</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="#" class="btn btn-primary">เบส</a>
                </div>
              </div>
            </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/teams/0002.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">นาย กฤตชัย ไกรโสภา</h5>
              <p class="card-text">ปวส.1/5</p>
              <a href="#" class="btn btn-primary">กล้า</a>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/teams/0003.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">นาย อภิชิต แพร่สาร</h5>
                  <p class="card-text">ปวส1/5</p>
                  <a href="#" class="btn btn-primary">บอม</a>
                </div>
              </div>
            </div>
    </div>
  </div>